* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --vinho-escuro: #6b2f3d;
  --rosa-elegante-escuro: #aa4d59;
  --rosa-elegante: #d46f71;
  --rosa-claro: #eec5c9;
  --rosa-logo: #d46f71;
  --cinza-gelo: #f3f1f2;
  --cinza-gelo-suave: #fbf8f8;
  --rosa-fosco: #f8e6e7;
  --branco-gelo: #ffffff;
  --sombra-suave: rgba(212, 111, 113, 0.1);
  --fonte-principal: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: var(--fonte-principal);
  background: var(--cinza-gelo);
  color: var(--vinho-escuro);
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}
